/*
  Theme Name: Bricks Child
  Theme URI: https://github.com/Andrey-Sivak/bricks-child
  Description: Child theme for Bricks Builder
  Author: Andrii Sivak
  Author URI: https://github.com/Andrey-Sivak
  Template: bricks
  Version: 1.0.0
  Text Domain: bricks-child
  Domain Path: /languages
  */