$terakotova: #d08a67;
$terakotova-tmava: #b36137;
$terakotova-svetla: #e7c4b2;
$bezova: #f5efe3;
$bezova-svetla: #fdfbf7;
$olivova: #3c3f33;
$rryuji: #e6e3db;
$zlata: #c7a877;
$border-color: #dddedf;
