@use "colors" as colors;
@use "fonts" as fonts;
@use "breakpoints" as bp;
@use "./mixins/container-query" as *;
@use "./mixins/responsive-max-width" as *;
@use "./mixins/ft-cqw" as *;
@use "./mixins/ft-clamp" as *;
@use "./blog/post-card" as *;

$base-class: ".single-post";

#{$base-class} {
	background-color: colors.$bezova;
	position: relative;
	z-index: 10;

	&-header {
		padding-top: 100px;
		position: relative;
		height: 70vh;
		min-height: 400px;
		display: flex;
		align-items: flex-end;
		padding-bottom: 60px;

		@include responsive(ft-main, bp.$bp-md) {
			padding-top: 100px;
			padding-bottom: 70px;
		}

		@include responsive(ft-main, bp.$bp-lg) {
			padding-top: 140px;
			padding-bottom: 100px;
		}

		&::before {
			position: absolute;
			display: block;
			z-index: 11;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			content: "";
			background-image: linear-gradient(230deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 0.5) 100%);
		}

		&-thumbnail {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 10;
			margin: 0;
			padding: 0;

			img {
				object-fit: cover;
				object-position: center;
				width: 100%;
				height: 100%;
				display: block;
			}
		}

		&-content {
			position: relative;
			z-index: 20;
			max-width: bp.$bp-container;
			width: 100%;
			margin: 0 auto;
			padding: 0 16px;

			@include responsive(ft-main, bp.$bp-md) {
				padding: 0 20px;
			}
		}

		&-meta {
			color: #fff;
		}
	}

	&-heading {
		font-family: fonts.$MontserratAlternates, sans-serif;
		color: #fff;
		text-shadow: 1px 1px 2px #000;

		@include ft-cqw(font-size, 6.5);

		@include responsive(ft-main, bp.$bp-sm) {

			@include ft-cqw(font-size, 4);
		}

		@include responsive(ft-main, bp.$bp-md) {
			padding-right: 16px;
		}

		@include responsive(ft-main, bp.$bp-lg) {
			padding-right: 60px;
		}

		@include responsive(ft-main, bp.$bp-xl) {

			@include ft-clamp(font-size, 52px, 5.2rem, 24px);
		}
	}

	&-excerpt {

		@include responsive-max-width(75ch);
		text-transform: uppercase;
		font-size: 14px;
		line-height: 1.7;
		font-family: fonts.$Belleza;
		margin: 24px 0;
		color: #fff;
		text-shadow: 1px 1px 2px #000;

		@include responsive(ft-main, bp.$bp-md) {
			font-size: 16px;
		}

		@include responsive(ft-main, bp.$bp-lg) {
			font-size: 18px;
		}
	}

	&-content {
		max-width: 1000px;
		width: 100%;
		padding-left: 16px;
		padding-right: 16px;
		padding-top: 20px;
		position: relative;
		margin: 20px auto 32px;

		@include responsive(ft-main, bp.$bp-md) {
			padding-left: 20px;
			padding-right: 20px;
		}

		@include responsive(ft-main, bp.$bp-lg) {
			margin: 20px auto 40px;
			padding-top: 20px;
		}

		@include responsive(ft-main, bp.$bp-xl) {
			margin: 40px auto 60px;
			padding-top: 30px;
		}

		p {
			font-size: 16px;
			margin: 16px 0;

			@include responsive(ft-main, bp.$bp-md) {
				font-size: 18px;
			}

			a {
				text-decoration: underline;
				color: colors.$terakotova;

				&:hover {
					text-decoration: none;
				}
			}
		}

		h2 {

			@include ft-cqw(font-size, 6);
			font-family: fonts.$MontserratAlternates;
			line-height: 1;
			font-weight: 500;
			margin-top: 20px;
			margin-bottom: 16px;

			@include responsive(ft-main, bp.$bp-md) {
				font-size: 32px;
				margin-top: 24px;
				margin-bottom: 20px;
			}

			@include responsive(ft-main, bp.$bp-lg) {
				font-size: 44px;
				margin-top: 30px;
				margin-bottom: 20px;
			}
		}

		h3 {
			font-weight: 600;
			font-family: fonts.$MontserratAlternates;
			font-size: 20px;
			line-height: 1.4;
			margin-top: 20px;
			margin-bottom: 16px;

			@include responsive(ft-main, bp.$bp-md) {
				font-size: 24px;
				margin-top: 24px;
				margin-bottom: 20px;
			}

			@include responsive(ft-main, bp.$bp-lg) {
				font-size: 28px;
				margin-top: 30px;
				margin-bottom: 20px;
			}
		}

		h4 {
			font-weight: 500;
			font-family: fonts.$MontserratAlternates;
			font-size: 20px;
			line-height: 1.4;

			@include responsive(ft-main, bp.$bp-md) {
				font-size: 24px;
			}
		}

		.wp-block-image {

			&.size-full,
			&.size-large {

				a,
				img {
					width: 100%;
				}
			}
		}

		.wp-block-video,
		.wp-block-embed,
		.wp-block-columns {
			margin: 8px 0 0;

			@include responsive(ft-main, bp.$bp-md) {
				margin: 20px 0 0;
			}

			+ p {
				margin-top: 8px;

				@include responsive(ft-main, bp.$bp-md) {
					margin-top: 20px;
				}
			}
		}

		.wp-block-columns {
			column-gap: 20px;
			row-gap: 8px;
			flex-wrap: wrap !important;

			@include responsive(ft-main, bp.$bp-md) {
				row-gap: 20px;
				flex-wrap: nowrap !important;
			}
		}

		&-meta {
			display: grid;
			gap: 8px;
			padding: 20px 0;
			margin-top: 40px;
			border-top: 1px solid colors.$terakotova;
			border-bottom: 1px solid colors.$terakotova;

			#{$base-class}-header-meta {
				color: inherit;
			}
		}

		&-tags,
		&-categories {
			list-style: none;
			margin: 0;
			padding: 0;
			font-size: 16px;

			@include responsive(ft-main, bp.$bp-md) {
				font-size: 18px;
			}

			a {
				text-transform: capitalize;
				white-space: nowrap;
				font-size: 16px;
				line-height: 1.2;
				will-change: color;

				@include responsive(ft-main, bp.$bp-md) {
					font-size: 18px;
				}

				&:hover {
					color: colors.$terakotova;
				}
			}
		}
	}

	.related-posts {
		max-width: bp.$bp-container;
		width: 100%;
		margin: 30px auto 50px;
		padding: 0 16px;
		position: relative;
		overflow: hidden;

		@include responsive(ft-main, bp.$bp-md) {
			padding: 0 20px;
		}

		.related-posts-title {
			font-weight: 600;
			font-family: fonts.$MontserratAlternates;
			font-size: 20px;
			line-height: 1.4;

			@include responsive(ft-main, bp.$bp-md) {
				font-size: 24px;
			}

			@include responsive(ft-main, bp.$bp-lg) {
				font-size: 28px;
			}
		}

		.related-posts-grid {
			display: grid;
			gap: 24px;
			margin-top: 40px;
			align-items: start;

			@include responsive(ft-main, bp.$bp-sm) {
				grid-template-columns: repeat(2, 1fr);
			}

			@include responsive(ft-main, bp.$bp-lg) {
				grid-template-columns: repeat(3, 1fr);
			}
		}
	}

	&.single-portfolio {

		#{$base-class} {

			&-header {
				padding-bottom: 40px;
				height: auto;
				min-height: auto;

				&::before {
					content: none;
				}

				&::after {
					display: block;
					position: absolute;
					content: "";
					height: 1px;
					background-color: colors.$terakotova;
					top: 100%;
					left: 50%;
					transform: translateX(-50%);
					width: 35%;
				}
			}

			&-excerpt,
			&-heading {
				color: inherit;
				text-shadow: none;
				text-align: center;
				padding: 0;
				margin-left: auto;
				margin-right: auto;
			}

			&-excerpt {
				margin-bottom: 0;
			}
		}
	}
}
